---
layout: base.njk
title: Blog
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

<h1>Blog Posts</h1>

<div class="timeline">
  {%- for post in collections.posts | reverse -%}
  {%- if not post.data.draft -%}
  <article class="timeline-item">
    <time class="timeline-meta" datetime="{{ post.date | htmlDateString }}">
      {{ post.date | dateDisplay }}
      · Post
    </time>
    
    <h2 class="timeline-title">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    
    {%- if post.data.excerpt -%}
    <p class="timeline-excerpt">{{ post.data.excerpt }}</p>
    {%- endif -%}
    
    {%- if post.data.tags and post.data.tags.length > 0 -%}
    <div class="timeline-tags">
      {%- for tag in post.data.tags -%}
      <a href="/tags/{{ tag | slug }}/" class="tag">#{{ tag }}</a>
      {%- endfor -%}
    </div>
    {%- endif -%}
  </article>
  {%- endif -%}
  {%- endfor -%}
</div>