---
pagination:
  data: galleries
  size: 1
  alias: gallery
permalink: /gallery/{{ gallery.number }}/
layout: gallery-single.njk
eleventyComputed:
  title: "{{ gallery.title }}"
  description: "{{ gallery.description }}"
  date: "{{ gallery.date }}"
  tags: "{{ gallery.tags | default([]) }}"
  imageCount: "{{ gallery.imageCount }}"
  issueNumber: "{{ gallery.number }}"
---